.DS_Store
__pycache__
.idea
tmp*
*.xlsx
*.pptx
~$*
delete_me_later.py

# environment specific
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
# vs code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace